@use 'sass:math';

// Breakpoints
$breakpoint1200: 1200 + px;
$breakpoint992: 992 + px;
$breakpoint768: 768 + px;
$breakpoint480: 480 + px;

// Burger
$burgerColor: black;
$burgerActiveColor: white;

// Colors
$primary:#398BFF;
$secondary: #001731;



 