<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <title>Document</title>
</head>
<body>
  <header>
    <div class="container">
          <nav class="nav">
                <div class="navbar">
                    <div class="logo"><a class="navbar_brand" href="#">#logo</a></div>
                </div>
                <ul class="navbar_nav">
                    <li class="nav_item">
                        <a class="nav_link" data-scroll="" href="#">Portfolio</a> 
                    </li>
                    <li class="nav_item">
                      <a class="nav_link" data-scroll="" href="#">About</a> 
                  </li>
                  <li class="nav_item">
                    <a class="nav_link" data-scroll="" href="#">Contact</a> 
                </li>

                </ul>
                <div class="form">
                  <form action="">
                    <input class="form_search" type="text" placeholder="Search">
                  </form>
                  
                </div>
                <div class="burger">
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                </div>
            
          </nav>

    </div>
     
</header>

    
      <script src="navbar.js"></script>
</body>
</html>